<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= course.student_id %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= course.instructor_id %>
  </p>

</div>
